.c-application{
	background-color: @gray;

	.c-page-wrapper {
		min-height: 240px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 48px;
		padding-bottom: 40px;
		background-color: @gray;

		@media (min-width: @screen-tablet) {
			padding-bottom: 20px;
		}
	}

	&__title {
		max-width: 100%;
		display: block;
		text-align: center;
		font-size: 40px;
		font-weight: 600;
		margin-bottom: 38px;

		@media (min-width: @screen-tablet) {
			max-width: 650px;
		}
	}
}