.c-copyright{
	max-width: 237px;
	display: flex;
	flex-direction: column;
	padding-top: 13px;
	padding-left: 3px;

	a {
		display: block;
	}

	&__tel {
		color: @black;
	}

	&__email {
		color: @green;
		margin-bottom: 19px;
	}

	&__info {
		font-size: 12px;
	}
}