.c-mail-system{


	.c-page-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: 50px;

		@media (min-width: @screen-tablet) {
			align-items: center;
			
		}

		@media (min-width: @screen-desktop) {
			justify-content: space-between;
			align-items: flex-end;
			padding-top: 151px;
		}
	}

	&__image {
		height: 250px;

		@media (min-width: @screen-tablet) {
			position: static;
			height: auto;
		}

		@media (min-width: @screen-desktop) {
			position: absolute;
			bottom: 0px;
			left: -402px;
		}

		@media (min-width: @screen-lg-desktop) {
			left: 0px;
			width: 48%;
		}
	}

	&__inner {
		margin-bottom: 30px;
		min-height: 260px;

		@media (min-width: @screen-desktop) {
			min-height: 290px;
		}

		@media (min-width: @screen-lg-desktop) {
			min-height: 338px;
		}
	}

	&__info {
		max-width: 575px;
		font-size: 24px;
		font-weight: 300;
		line-height: 32px;
		padding-top: 80px;
		padding-right: 80px;
		background-image: url("/images/envelope.png");
		background-position: top left;
		background-repeat: no-repeat;
	}
}