.c-social{
	max-width: 180px;
	min-height: 95px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 14px;
	order: 2;

	@media (min-width: @screen-tablet) {
		order: 1;
	}

	@media (min-width: @screen-desktop) {
		flex-wrap: nowrap;
		max-width: none;
		width: 375px;
	}

	&__link {
		position: relative;
		display: flex;
		font-size: 0;
		width: 38px;
		height: 38px;
		margin-bottom: 5px;
		border-radius: 50%;
		background-color: @gray;
		background-size: 16px;
		background-position: center;
		background-repeat: no-repeat;

		svg {
			position: absolute;
			top: 10px;
			left: 11px;
			fill: #838382;
			width: 17px;
			height: 17px;
			margin: 0 auto;
		}
	}
}