.c-steps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__inner {
		min-height: 425px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		flex-direction: column;	


		@media (min-width: @screen-tablet) {
		}

		@media (min-width: @screen-desktop) {
			max-width: 900px;
			flex-direction: row;
		}

		@media (min-width: @screen-lg-desktop) {
			max-width: 1130px;
		}
	}

	&__info {
		max-width: 420px;
		position: relative;
		font-size: 20px;
		padding-left: 80px;
		margin-bottom: 40px;

		@media (min-width: @screen-tablet) {
		}

		@media (min-width: @screen-desktop) {
			max-width: 320px;
			padding-top: 85px;
			padding-left: 0;
			margin-bottom: 0;

			&--align {
				text-align: right;
			}
		}

		@media (min-width: @screen-lg-desktop) {
			max-width: 380px;
		}

		span {
			position: absolute;
			width: 66px;
			height: 66px;
			top: 0;
			left: 0;
			font-size: 44.47px;
			font-weight: 300;
			color: @orange;

			@media (min-width: @screen-desktop) {
				left: auto;
			}

			&::before {
				position: absolute;
				content: '';
				top: -3px;
				left: -21px;
				width: 66px;
				height: 66px;
				border: 2px solid @orange;
				border-radius: 50%;
			}
		}

		&:nth-child(1n) span {
			// Стили для номера 1 и 3
			@media (min-width: @screen-desktop) {
				right: 30px;

				&::before {
					left: auto;
					right: -20px;
				}
			}
		}

		&:nth-child(1) span {
			// Индивидуальная правка для номера 1
			@media (min-width: @screen-desktop) {
				&::before {
					right: -25px;
				}
			}
		}

		&:nth-child(2n) span {
			// Стили для номера 2 и 4
			@media (min-width: @screen-desktop) {
				left: 0;
				padding-left: 23px;

				&::before {
					left: 2px;
				}
			}
		}

		a {
			text-decoration: underline;
			display: block;
			color: @green;
		}
	}
}